@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$violet-palette,
      tertiary: mat.$cyan-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
