@use '@angular/material' as mat;

$theme: mat.define-theme(
	(
		color: (
			theme-type: dark,
			primary: mat.$azure-palette,
			tertiary: mat.$blue-palette,
		),
		typography: (
			plain-family: 'Roboto, sans-serif',
		),
	)
);

@include mat.core();
@include mat.all-component-themes($theme);
@include mat.typography-hierarchy($theme);

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	background: #121212;
	color: rgba(255, 255, 255, 0.87);
}
